<ul class="menu">
			<li class="submenu">
				<a href="main.html" class="active">
					<div>
						<i class="menu-icon fa fa-th-large"></i>
						<span class="menu-title">展示</span>
					</div>
				</a>
			</li>
	<!-- 		<li class="submenu">
				<a href="daoru.html" >
					<div>
						<i class="menu-icon fa fa-th-large"></i>
						<span class="menu-title">导入数据</span>
					</div>
				</a>
			</li> -->
			<li class="submenu">
				<a href="dianpulist.html" >
					<div>
						<i class="menu-icon fa fa-th-large"></i>
						<span class="menu-title">商家列表</span>
					</div>
				</a>
			</li>
						<li class="submenu">
				<a href="shangpinglist.html" >
					<div>
						<i class="menu-icon fa fa-th-large"></i>
						<span class="menu-title">商品列表</span>
					</div>
				</a>
			</li>
									<li class="submenu">
				<a href="dingdanliebiaohoutai.html" >
					<div>
						<i class="menu-icon fa fa-th-large"></i>
						<span class="menu-title">订单列表</span>
					</div>
				</a>
			</li>
			<li class="submenu">
				<a href="zaixianliuyan.html" >
					<div>
						<i class="menu-icon fa fa-th-large"></i>
						<span class="menu-title">在线留言列表</span>
					</div>
				</a>
			</li>
			<li class="submenu">
				<a onclick="location.href='hou.html';window.localStorage.removeItem('nowname')">
					<div>
						<i class="menu-icon fa fa-desktop"></i>
						<span class="menu-title">退出登录</span>
					</div>
				</a>
			</li>
		</ul>
		<script type="text/javascript">
			function loadIndex(index){
				$('.submenu').each(function(i,o){
					if (i==index) {
						$(o).find('a').attr('class','active')
					}else{
						$(o).find('a').removeClass('active')
					}
				})
			}
		</script>